.footer-body {
  position: absolute;
  bottom: 0;
  width: 100vw;
  margin-top: 100px;
  box-shadow: 0px 0px 10px gold;
  background-color: #e49c17;
  height: 50px;
}

.footer-body p {
  width: fit-content;
}

.footer-body a {
  text-decoration: none;
  color: black;
  border-radius: 50px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #be8315;
  transition: all 0.3s ease;
}

.footer-body a:hover {
  background-color: #e9bb65;
}

.footer-body .version {
  font-size: 10px;
}
