.generador-body {
    animation: appear 1s ease;
    div {
        .image-container {
            img {
                width: 80%;
                margin-top: 120px;
                filter: drop-shadow(0 2px 5px white);
            }
        }

        .generator-container {
            h3 {
                color: white;
            }
        }
    }
}

@keyframes appear {
    from {opacity: 0%;}
    to {opacity: 100%;}
}