.generador-body {
    animation: appear 1s ease;
    margin-top: 100px;
    div {
        .image-container {
            img {
                width: 80%;
                filter: drop-shadow(0 2px 5px white);
            }
        }
    }
}

.gentool-body {
    box-shadow: 0px 0px 10px gold;
    background-color: rgb(228, 156, 23);
    border-radius: 15px;
    margin-bottom: 100px;
    img {
        width: 60px;
    }
}

@keyframes appear {
    from {opacity: 0%;}
    to {opacity: 100%;}
}